# Spring Boot
target/
!.mvn/wrapper/maven-wrapper.jar
!.mvn/wrapper/maven-wrapper.properties
.mvn/
mvnw
mvnw.cmd

# IDE
.idea/
*.iws
*.iml
*.ipr
.vscode/
*.code-workspace

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Database
*.db
*.sqlite

# Temp files
*.tmp
*.bak

# Environment variables
.env
.env.local
.env.*.local

# Others
*.rar
*.zip
*.7z
.gradle/
